[package]
name = "bevy_atmosphere"
description = "A procedural sky plugin for bevy"
version = "0.2.4"
edition = "2021"
authors = ["JonahPlusPlus <33059163+JonahPlusPlus@users.noreply.github.com>"]
license = "MIT"
documentation = "https://docs.rs/bevy_atmosphere"
homepage = "https://github.com/JonahPlusPlus/bevy_atmosphere"
repository = "https://github.com/JonahPlusPlus/bevy_atmosphere"

[dependencies]
bevy = { version = "0.6", default-features = false, features = ["bevy_render", "bevy_pbr"] }
naga = { version = "0.8.0", features = ["glsl-in"] } # Needed for naga::ShaderStage; will be fixed in next bevy release

[dev-dependencies]
bevy_flycam = "0.6"
bevy = { version = "0.6", default-features = false, features = ["x11"] }

[[example]]
name = "cycle"
path = "examples/cycle.rs"
