name: Main
on:
  push:
    branches-ignore:
      - 'releases/**'
      - 'dependabot/**'
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.github/dependabot.yml'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.github/dependabot.yml'
env:
  CARGO_TERM_COLOR: always
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Cache crates
        uses: Swatinem/rust-cache@v1

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --no-deps --all-features -- -D warnings

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Install alsa and udev
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check
